*.db
settings_local.py
.settings
*.pyc
.DS_Store
.pydevproject
.project

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

venv
