{% extends "base.html" %}
{% load url from future %}

{% block title %}Sing Up{% endblock %}

{% block content %}
    <table>
        <tr>
            <td>
                <div class="FindToFunInfo" id="ftfinfo">
                    <div class="title" align="left">
                        <h1>Join us and follow events at <br>home and abroad. Never miss <br>a good time.</h1>
                        <p>Create events</p>
                        <p>Get direction to your event</p>
                        <p>Get statistic of selected event</p>
                    </div>
                </div>
            </td>
            <td>
                <div class="registerContainer" id="registerContainer" align="left">
                    <div class="title" align="left">
                        <h2>Sign up</h2>
                        <h3>Be one of us</h3>
                    </div>
                    <div class="txtboxRegisterDiv">
                        <input class="signup" type="text" placeholder="Name"/>
                        <input class="signup" type="text" placeholder="Surname"/>
                    </div>
                    <div class="txtboxRegisterDiv">
                        <input class="signup" type="text" placeholder="Username"/>
                    </div>
                    <div class="txtboxRegisterDiv">
                        <input class="signup" type="text" placeholder="Your email"/>
                    </div>
                    <div class="txtboxRegisterDiv">
                        <input class="signup" type="text" placeholder="Re-enter your email"/>
                    </div>
                    <div class="txtboxRegisterDiv">
                        <input class="signup" type="password" placeholder="Password"/>
                    </div>
                    <div class="txtboxRegisterDiv">
                        <input class="signup" type="password" placeholder="Re-enter password"/>
                    </div>
                    <div>
                        <button type="submit" class="btn">Sign up</button>
                    </div>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}
