.framediv {
	overflow:hidden;
}

.eventtitle {
	margin-top: 1em;
	margin-bottom:1em;
	font-size:150%;
	float:left;
}
textarea {
	resize:none;
	width:70%;
	height:100%;
	overflow:auto;
	float:left;
}
.coverPhoto {
	width:100%;
	height:350px;
}
.piechartdiv {
	margin-left: 70%;
}