<div class="container">
    <div>
        <h4>
            <p>Plase feel free to contact us and tell us what you think about our page.</p>
        </h4>
    </div>
    <ul>
      <li>
        <address>
        <strong>Tomislav Slijepčević</strong><br>
        <abbr title="Phone">P:</abbr> (031) xxx-xxx<br>
        e-mail:<a href="mailto:#"> tipytop@gmail.com</a>
        </address>
      </li>
      <li>
        <address>
        <strong>Nejc Šilc</strong><br>
        <abbr title="Phone">P:</abbr> (031) xxx-xxx<br>
        e-mail:<a href="mailto:#"> nejc.silc@siol.net</a>
        </address>
      </li>
      <li>
        <address>
        <strong>Peter Us</strong><br>
        <abbr title="Phone">P:</abbr> (031) xxx-xxx<br>
        e-mail:<a href="mailto:#"> peter.us.99@gmail.com</a>
        </address>
      </li>
    </ul>
</div>