<div class="row-fluid">
  <div class="span2 affix hidden-phone">
    <div class="well sidebar-nav">
      <div class="filterHeading">Filters</div>
      <ul class="nav nav-list">
        <div id="dateDiv">
          <li class="nav-header">FROM</li>
          <div id="datetimepickerFrom" class="input-append">
            <input data-format="MM/dd/yyyy HH:mm:ss PP" type="text" class="sizeFilterInput">
            <span class="add-on" >
              <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
          </div>
          <li class="nav-header">TO</li>
          <div id="datetimepickerTo" class="input-append">
            <input data-format="MM/dd/yyyy HH:mm:ss PP" type="text" class="sizeFilterInput">
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
          </div>
        </div>
        <div id="locationDiv">
          <li class="nav-header">LOCATION</li>
          <div class="input-append">
            <input class="sizeFilterInput" type="text" id="search_address" value="">
            <span class="add-on" onclick="search();">
              <i class="icon-search"></i>
            </span>
          </div>
        </div>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->

  <div class="span8 pagination-centered">
    <div class="hero-unit">

      <div class="btn-group navigationBtnGroup" data-toggle="buttons-radio">
        <button id="top" class="btn active groubBtn" >Top 10</button>
        <button id="maps" class="btn groubBtn">Map</button>
        <button id="calendar" class="btn groubBtn">Calendar</button>
      </div>

      <div id="topdiv" class="mainP">
        <!-- Carousel
        ================================================== -->
        <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="item active">
              <img class="toptenCoverPhoto img-rounded" src="mambo.jpg" alt="">
            </div>
            <div class="item">
              <img class="toptenCoverPhoto img-rounded" src="sasa.jpg" alt="">
            </div>
            <div class="item">
              <img class="toptenCoverPhoto img-rounded" src="flirt.jpg" alt="">
            </div>
          </div>
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div><!-- /.carousel -->
      </div>

      <div id="mapsdiv" class="mainP "> <!--/GOOGLE MAPS-->
        <div id="map-canvas" class="mapsGoogle"></div>
        <div id="timeForm"></div>
        <div id="timeTo"></div>
      </div>

      <div id="calendardiv" class="mainP"> <!--/JQWIDGET/ CALEDNAR-->
        <div id='jqxcalendar'></div>
        <div id='log'></div>
        <div id='loc'></div>
      </div>


      <ul style="list-style:none" class="buttonEventList">
        <li ng-repeat="event in events.objects">
          <button id="btnEvent_3" class="btn btnE btn-info btn-block"><i class="icon-white icon-user"></i>{{singleEvent.name}}</button>
          <div id="eventInfo_3" class="eventsInfo">
            <img class="infoE" src="infoMap.jpg" alt="">
            <div align="left" class="smartinfoEventDiv">
              <ul type="none">
                <li class="smartinfoEvent">DURATION DATE</li>
                <div class="smartinfoEventData">22.3  -  23.3</div>
                <li class="smartinfoEvent">DURATION TIME</li>
                <div class="smartinfoEventData">21:00  -  6:00</div>
                <li class="smartinfoEvent">NUMBER OF  GUESTS</li>
                <div class="smartinfoEventData">3453</div>
                <li class="smartinfoEvent">CREATOR</li>
                <div class="smartinfoEventData">Cirkus</div>
                <li class="smartinfoEvent">LINKS</li>
                <ul type="none" class="smartinfoEventUl">
                  <li><a href="#details" class="smartinfoEventLink">More details</a></li>
                  <li><a href="https://www.google.com/maps?saddr=Ribnica&daddr=Ljubljana,+Slovenija&ie=UTF8&f=d&sort=def&hl=en" class="smartinfoEventLink">Get direction</a></li>
                </ul>
              </ul>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>

</div>
