<div class="row-fluid">
    <div class="span2"></div>
    <div class="span8 pagination-centered">

        <h1>{{event.name}}</h1>
        <img ng-src="{{event.pic_cover_source}}"/>

        <table class="table table-striped">
            <thead>
                <tr>
                  <th>All members</th>
                  <th>Attending</th>
                  <th>Unsure</th>
                  <th>Declined</th>
                  <th>Not replied</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td>{{event.all_members}}</td>
                  <td>{{event.attending}}</td>
                  <td>{{event.unsure}}</td>
                  <td>{{event.declined}}</td>
                  <td>{{event.not_replied}}</td>
              </tr>
            </tbody>
        </table>

        <div class="row-fluid">
            <div class="span6">
                <h2>Venue</h2>
                <table class="table table-bordered" width="100%">
                    <tbody>
                        <tr>
                            <th width="40%">Name</th>
                            <td>{{event.venue.name}}</td>
                        </tr>
                        <tr>
                            <th width="40%">Country, city</th>
                            <td>{{event.venue.country}}, {{event.venue.city}}</td>
                        </tr>
                        <tr>
                            <th width="40%">Street &amp; zip</th>
                            <td>{{event.venue.street}}, {{event.venue.zip}}</td>
                        </tr>                    
                    </tbody>
                </table>
            </div>
            <div class="span6">
                <h2>Times</h2>
                <table class="table table-bordered" width="100%">
                    <tbody>
                        <tr>
                            <th width="40%">Timezone</th>
                            <td>{{event.timezone}}</td>
                        </tr>
                        <tr>
                            <th width="40%">Start</th>
                            <td>{{event.start_time}}</td>
                        </tr>
                        <tr>
                            <th width="40%">End</th>
                            <td>{{event.end_time}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        <div class="row-fluid">
            <div class="span6">
                <h2>Details</h2>
                <table class="table table-bordered" width="100%">
                    <tbody>
                        <tr>
                            <th width="40%">Privacy</th>
                            <td>{{event.privacy}}</td>
                        </tr>
                        <tr>
                            <th width="40%">Ticket url</th>
                            <td>{{event.ticket_uri}}</td>
                        </tr>
                        <tr>
                            <th width="40%">Males</th>
                            <td>{{event.males.all}}</td>
                        </tr>
                        <tr>
                            <th width="40%">Females</th>
                            <td>{{event.females.all}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h2>Attending</h2>
            <div class="span6">
                <awesomechart type="default" id='chart1' width="300" height="300" data="data1">
                </awesomechart>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span4">
                <h2>All</h2>
                <awesomechart type="default" id='chart2' width="200" height="200" data="data2">
                </awesomechart>
            </div>
            <div class="span4">
                <h2>Unsure</h2>
                <awesomechart type="default" id='chart3' width="200" height="200" data="data3">
                </awesomechart>
            </div>
            <div class="span4">
                <h2>Not replied</h2>
                <awesomechart type="default" id='chart4' width="200" height="200" data="data4">
                </awesomechart>
            </div>
        </div>

        <h2>Description
        <p class="lead" style="text-align: justify;"><small>{{event.description}}</small></p>
    </div>
    <div class="span2"></div>
</div>
