  <script type="text/ng-template" id="filter_renderer.html">
      <ng-switch on="choice.type">
        <span ng-switch-when="selectfield">
          {{choice.text}}
          <select ng-model='c_values' ng-options="value.name for value in choice.values" ng-init="c_values = choice.values[0]"></select>
          <li ng-repeat="(c_values, choice) in c_values.next" ng-include="'filter_renderer.html'"></li>
          </span>
        </span>
        <span ng-switch-when="textfield">
          {{choice.text}}
            <ng-switch on="choice.last">
              <input ng-switch-when="true" type="text" ng-model="value" ng-change="fillFilters()" ng-class="choice.class">
              <input ng-switch-default type="text" ng-model="value" ng-class="choice.class">
          </ng-switch>
        </span>
        <span ng-switch-when="numericfield">
          {{choice.text}}
          <ng-switch on="choice.last">
            <input ng-switch-when="true" type="number" ng-model="value" ng-change="fillFilters()"  ng-class="choice.class">
            <input ng-switch-default type="number" ng-model="value" ng-class="choice.class">
          </ng-switch>
        </span>
        <span ng-switch-when="percentage">
          {{choice.text}}
          <ng-switch on="choice.last">
            <input ng-switch-when="true" type="number" ng-model="value" ng-change="fillFilters()" min=0 max=100 ng-class="choice.class">
            <input ng-switch-default type="number" ng-model="value"  min=0 max=100 ng-class="choice.class">
          </ng-switch>
        </span>
        <span ng-switch-when="slider">
          {{choice.text}}
          <input type="text" value="" class="slider" id="sliderInit" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="50" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="show" ng-init="Slider.transform(choice)">
        </span>
      </ng-switch>
  </script>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2 well sidebar-nav">
        <div class="filterHeading">Filters</div>
          <span ng-repeat="choice in filters">
            <ul class="filtersList">
              <li ng-include="'filter_renderer.html'"></li>
              [<a href ng-click="removeFilter($index)">X</a>]
            </ul>
          </span>
        [<a href class="addFilter" ng-click="addFilter()">add</a>]
      </div>
      <div class="span8 pagination-centered">
        <table id="event-list" class="table table-striped sortable">
          <thead>
            <tr>
              <th class="sorttable_numeric">#</th>
              <th>Name</th>
              <th>Start time</th>
              <th class="sorttable_numeric">Attending</th>
              <th class="sorttable_numeric">Unsure</th>
              <th class="sorttable_numeric">Declined</th>
              <th class="sorttable_nosort">Details</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="event in fbevents.objects | filter: processFilters">
              <td>{{$index + 1}}</td>
              <td>{{event.name}}</td>
              <td>{{event.start_time}}</td>
              <td>{{event.attending}}</td>
              <td>{{event.unsure}}</td>
              <td>{{event.declined}}</td>
              <td>
                <a class="btn btn-primary" href="#/event/{{event.eid}}">Details
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="span2"></div>
    </div>

  </div>
</div>