
    <div id="main" class="framePosition fonts">
	  <p class="welcomeText">Welcome,</p>
	  <p class="descriptionText">Log in with facebook and share your events, that</p>
	  <p class="descriptionText">others can follow them even they are not invited and</p>
	  <p class="descriptionText">help foreigners that they will have fun in your country.</p>

	  <form class="form-search searchInput">
		<div class="input-append">
		  <input type="text" class="input-height input-xxlarge search-query" placeholder="Search events, places, days...">
		  <button type="submit" href="#/events" class="btn btn-large">
            <i class="icon-search"></i>
            Search
		  </button>
		</div>
		<p class="helpText">You can easily search events without login.</p>
	  </form>
	</div>
