{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}

{% block html_attributes %}
	ng-app="ftf"
{% endblock %}

{% block block-scripts %}
	<script src="{% static 'lib/angular/angular.js' %}"></script>
	<script src="{% static 'lib/angular/angular-resource.js' %}"></script>
	<script src="{% static 'js/app.js' %}"></script>
	<script src="{% static 'js/services.js' %}"></script>
	<script src="{% static 'js/controllers.js' %}"></script>
	<script src="{% static 'js/filters.js' %}"></script>
	<script src="{% static 'js/directives.js' %}"></script>
{% endblock %}

{% block content %}	

	{% if user.is_authenticated %}
		<form class="navbar-form pull-right" align="left">
		    <a> {{ user.username }} </a>
		    <a href="{% url "socialauth_disconnect" "facebook" %}"> Disconnect </a>
		    <a href="account/logout/"> Logout </a>
		</form>
	{% else %}
			<a type="submit" href="{% url "socialauth_begin" "facebook" %}?
				{{ redirect_querystring }}" class="facebook-btn">Login with Facebook</a>
	{% endif %}


	<h2 id="heading">{% block heading %}{% endblock %}</h2>
	{% if messages %}
		<ul class="messages">
		{% for message in messages %}
	        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
		</ul>
	{% endif %}

	<div ng-view></div>
{% endblock %}
